<mat-card class="m-1 card">
  <mat-card-header>
    <img mat-card-avatar src="../../../../../assets/images/wwf.webp" alt="wwf">
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.breed}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="img" [src]="data.img" [alt]="data.name">
  <mat-card-content class="overflow-y-scroll p-2 content">
    <p class="p-3">
      {{data.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
