<br>
<mat-card style="background-color: #8e44ad; color: #fff">
  <app-divider>Statistics</app-divider>
  <div class="flex flex-row justify-center align-middle gap-3 body">
    <app-statistics [target]="5000">
      # of users
    </app-statistics>
    <app-statistics [target]="8000">
      Revenue
    </app-statistics>
    <app-statistics [target]="15000">
      Reviews
    </app-statistics>
  </div>
</mat-card>
<br>
<mat-card>
  <app-divider>Item List</app-divider>
  <app-item-list [items]="items"></app-item-list>
</mat-card>

